title: AD Software Documentation
description: Host for all AD software documentations.
theme: just-the-docs

url: https://rileycyeoman.github.io/ADSoftware/

aux_links:
  Template Repository: https://github.com/just-the-docs/just-the-docs-template


callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red


plugins:
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-include-cache
  - jekyll-sitemap

mermaid:
  version: "11.12.2"
  path: "/assets/js/mermaid.esm.min.mjs"