title: AD Software Documentation
description: Host for all AD software documentations.
theme: just-the-docs

url: https://rileycyeoman.github.io/ADSoftware/

aux_links:
  Template Repository: https://github.com/just-the-docs/just-the-docs-template


callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red


plugins:
  - jekyll-seo-tag
  - jekyll-github-metadata
  - jekyll-include-cache
  - jekyll-sitemap

just_the_docs:
  math: mathjax

kramdown:
  syntax_highlighter_opts:
    block:
      line_numbers: false
liquid:
  error_mode: strict
  strict_filters: true
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
  # ignore:
  #   envs: all

sass:
  quiet_deps: true # https://github.com/just-the-docs/just-the-docs/issues/1541
  silence_deprecations: ['import'] # https://github.com/just-the-docs/just-the-docs/issues/1607

mermaid:
  version: "11.12.2"
  path: "/assets/js/mermaid.esm.min.mjs"